body {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 465px;
    border: 5px solid black;
    padding: 2px;
    background-color: #414756;
    border-radius: 10px;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: space-around;
    gap: 2px;

}

button:not(#zero) {

    flex-grow: 1;
}

.display-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    height: 100px;
}

#expression {
    height: 30px;
    margin-bottom: 0;
    border-bottom: 0;
    text-align: end;
    font-size: 1rem;
}

#result {
    height: 70px;
    border-top: 0;
    text-align: end;
    font-size: 3rem;

}

#zero {
    width: 230px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    
}

.operator,
.equals {
    background-color: #E76A05;
}

.clear,
.sign,
.percent {
    background-color: #1e90ff;
}

.num, .point {
    background-color: #00ADAE;
}

